@charset"utf-8";


/* ------------------------スライド------------------------ */
.slider {
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  object-fit: cover;
}





/* ------------.mainv_title------------ */

.mainvisual .mainv_title h1{
  border-bottom: black 1px solid;
}
.mainvisual .mainv_title h1, .mainvisual .mainv_title h2{
  text-align: center;
}

/* -------------greeting------------- */

main .greeting{
  background-image: url(../images/top/greeting_fam.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 680px;
}

main .greeting h2{
  margin-top: 100px;
  margin-bottom: 35px;
  text-align: center;}

main .greeting>p {
    padding:50px 20px;
    position: relative;
    font-size: 18px;
    line-height: 40px;
    background: rgba(219,205,29,0.5);
    border-radius: 30px;
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  /* ------------吹き出し------------ */
  .bubble_1{
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 50px;
    background: rgba(219,205,29,0.5);
    border-radius: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
.bubble_2{ 
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 30px;
    background:rgba(219,205,29,0.5);
    border-radius: 50%;
    margin-bottom: 25px;
  }

.bubble_3{
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 20px;
    background: rgba(219,205,29,0.5);
    border-radius: 50%;
    margin-bottom: 25px;
  } 
  /* --------------------------------- */

  /* ---------------about--------------- */
  main .about{
    height: 485px;
    background-image: url(../images/top/about_bg.png);
    background-repeat: no-repeat;
    /* background-size: 730px 380px; */
    background-position: center bottom;
  }
 
  main .about::after{
  content: url(../images/top/about_fam.png);
  position: relative;
  top:50px;
  left: 50px;
  }

main .about h2{
    margin-top: 90px;
    margin-bottom: 70px;
}

main .about p{
  width: 910px;
  margin-top: 110px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 40px;
}

/* ---------------content--------------- */

  main .content{
    height: 1500px;
    background-image: url(../images/top/content_fam.png);
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  main .content h2{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  main .content .content_button{
    margin-bottom: 50px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-shadow: rgba(104, 97, 33,0.7) 15px 15px 5px;
    transition: 0.5s;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  main .content .content_button:hover{
    margin-bottom: 50px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    box-shadow: none;
    transform: translate(15px,15px);
    /* cursor: pointer; */
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  
/* ---------------画像枠ぼかし--------------- */
main .content .content_button a{
  border-radius: 5px;
}

main .content .content_button img{
  border-radius: 5px;
}

main .content .content_button::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 10px 15px #F0E6BC;
    border-radius: 5px; 
  }

/* ------------------------------ */


  main .content .content_button a .content_ex{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(219,205,29,0.6); 
    border-radius: 10px;
    height: 87px;
    width: 265px;
    margin-left: auto;
    margin-right: auto;
  }

  main .content .content_button a .content_ex h3,
  main .content .content_button a .content_ex p{
    color: black;
    text-align: center;
  }

  main .content .content_button a .content_ex h3{
    font-size: 25px;
    width: 240px;
    border-bottom: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
  }

  main .content .content_button a .content_ex p{
    font-size: 10px;
    line-height: 15px;
  }

  main .content .content_button  img{
    box-shadow:7px,7px,5px;
  }

  /* -----------------article----------------- */

  main article{
    height: 518px;
    position: relative;
    }

  main article .news_title{
    position: relative;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
    margin-bottom: 50px;
  }


  main article .news_title .bt_twitter,main article .news_title .bt_instagram{
    position: absolute;
    transition: 0.5s;
  }

  main article .news_title .bt_twitter{
   margin-left: 37%;
   margin-top: 5px;
  }

  main article .news_title .bt_twitter:hover{
    margin-top: 10px;
  }

  main article .news_title .bt_instagram{
    margin-left: 75%;
    margin-top: 5px;
  }

  main article .news_title .bt_instagram:hover{
    margin-top: 10px;
  } 

  main article .news{
    width: 800px;
    height: 400px;
    background-image: url(../images/top/article_bg.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }

  main article .news::after{
    content: url(../images/top/article_fam.png);
    position: absolute;
    top: 430px;
    right: 75px;
  }

  main article .news dl{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    margin-top: 20px;
  }


   @media screen and (max-width:640px){
 

/* -------------------width------------------- */
         main section, main article{
           width: 100%;
        }

         main .greeting>p{
           width: 90%;
         }
         main .about p{
           width: 90%;
         }

         main .content .content_button,main .content .content_button:hover{
           width:95%;
         }

         main .content .content_button a .content_ex{
           width: 100%;
         }

         main .content .content_button a .content_ex h3{
           width: 90%;
         }

         main article .news_title{
           width: 45%;
         }

         main article .news{
           width: 90%;
         }

         main article .news dl{
           width: 80%;
         } 
   
/* ------------------------------------- */

/* ------------------mainvisual------------------ */

.mainvisual .mainv_title h1{
   font-size: 20px;
   line-height: 35px;
} 

.mainvisual .mainv_title h1 span{
  display: none;
}

.mainvisual .mainv_title h2{
  font-size: 13px;
  line-height: 25px;
}

/* -----------------main----------------- */

/* -------------greetng------------- */
main .greeting h2,main .about h2,main .content h2{
  margin-top: 20px;
}


 main .greeting>p {
  padding:10px 20px;
  position: relative;
  font-size: 15px;
  line-height: 30px;
  background: rgba(219,205,29,0.5);
  border-radius: 30px;
  height: auto;
  text-align: left;
} 
  

/* ------------吹き出し------------ */

main .greeting{
  padding-bottom: 40px;
  height: auto;
  padding-bottom: 100px;
}

.bubble_1{
  margin-bottom: 10px;
  margin-top: 10px;
}

.bubble_2{ 
  margin-bottom: 10px;
}

.bubble_3{
  margin-bottom: 10px;
}  

/* --------------------------------- */

 /* ---------------about--------------- */
  main .about{
  background-image: url(../images/top/about_fam.png);
  height: auto;
  padding-bottom: 100px;
  background-position: left bottom;
}

main .about::after{
  display: none;
}

main .about p{
  padding:10px 20px;
margin-top: 0;
margin-right: auto;
margin-left: auto;
font-size: 15px;
line-height: 27px;
background: rgba(219,205,29,0.5);
  border-radius: 30px;
} 
  

/* -----------------content----------------- */
main .content{
  height: auto;
 padding-bottom: 150px;
}

main .content .content_button{
  margin-bottom: 30px;
  position: relative;
  box-shadow: none;
}

main .content .content_button:hover{
  transform:none;
} 

  

  
/* ---------------画像枠ぼかし--------------- */
main .content .content_button::after {
    box-shadow: inset 0 0 5px 5px rgba(219,205,29,0.5); 
  } 

/* ------------------------------ */

 main .content .content_button a .content_ex{
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  background-color: rgba(219,205,29,0.6); 
  border-radius: 10px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

main .content .content_button a .content_ex h3{
  font-size: 20px;
  border-bottom: none;
}

main .content .content_button a .content_ex p{
  font-size: 13px;
  line-height: 20px;
}
main .content .content_button a{
  display: flex;
  flex-wrap: wrap-reverse;
}


/* ---------------------article--------------------- */

main article{
  height: auto;
  background-image: url(../images/top/article_fam.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  }

  main article .news_title{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  main article .news_title .bt_twitter,main article .news_title .bt_instagram{
    position: relative;
    transition: none;
  }

  main article .news_title .bt_twitter{
    margin-left:auto;
    margin-top :20px;
   }

   main article .news_title .bt_twitter:hover{
    margin-top: 20px;
  }

  main article .news_title .bt_instagram{
    margin-left:auto;
    margin-top: 30px;
  }

  main article .news_title .bt_instagram:hover{
    margin-top: 20px;
  } 


  main article .news{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image:none;
    background-color: rgba(219,205,29,0.6); 
    border-radius: 10px;
    margin-bottom: 90px;
  }

  main article .news::after{
    display: none;
  }

  main article .news dl{
    text-align: center;
    justify-content: start;
    font-size: 10px;
    margin-top: 5px;
  }


} 
